# Importing Libraries

*The following code has been modified by myself. It's original code is from Kaggle user Koustav Banerjee*

In [84]:
#Data Cleaning and Organizing
import pandas as pd
import numpy as np
import math
import warnings
warnings.filterwarnings('ignore')
import gc


#pre processing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

#Data Visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#Modeling
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
import lightgbm as lgb
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import r2_score, mean_squared_error, f1_score, plot_confusion_matrix, accuracy_score, precision_score, recall_score

# Reading and understanding our data

In [85]:
#each data set, not included in github
buildMetData = pd.read_csv('energyCSV/building_metadata.csv')
test = pd.read_csv('energyCSV/test.csv')
train = pd.read_csv('energyCSV/train.csv')
weatherTest = pd.read_csv('energyCSV/weather_test.csv')
weatherTrain = pd.read_csv('energyCSV/weather_train.csv')

train

          building_id  meter            timestamp  meter_reading
0                   0      0  2016-01-01 00:00:00          0.000
1                   1      0  2016-01-01 00:00:00          0.000
2                   2      0  2016-01-01 00:00:00          0.000
3                   3      0  2016-01-01 00:00:00          0.000
4                   4      0  2016-01-01 00:00:00          0.000
...               ...    ...                  ...            ...
20216095         1444      0  2016-12-31 23:00:00          8.750
20216096         1445      0  2016-12-31 23:00:00          4.825
20216097         1446      0  2016-12-31 23:00:00          0.000
20216098         1447      0  2016-12-31 23:00:00        159.575
20216099         1448      0  2016-12-31 23:00:00          2.850

[20216100 rows x 4 columns]

# Reduce The Memory For Faster Processing

In [86]:
## Function to reduce the DF size
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [87]:
train = reduce_mem_usage(train)
test = reduce_mem_usage(test)

weatherTrain = reduce_mem_usage(weatherTrain)
weatherTest = reduce_mem_usage(weatherTest)
buildMetData = reduce_mem_usage(buildMetData)

Mem. usage decreased to 289.19 Mb (53.1% reduction)
Mem. usage decreased to 596.49 Mb (53.1% reduction)
Mem. usage decreased to  3.07 Mb (68.1% reduction)
Mem. usage decreased to  6.08 Mb (68.1% reduction)
Mem. usage decreased to  0.03 Mb (60.3% reduction)

## Pre-processing

In [88]:
print(train.info(), test.info(), weatherTrain.info(), weatherTest.info(), buildMetData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20216100 entries, 0 to 20216099
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   building_id    int16
 1   meter          int8
 2   timestamp      object
 3   meter_reading  float32
dtypes: float32(1), int16(1), int8(1), object(1)
memory usage: 289.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41697600 entries, 0 to 41697599
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   row_id       int32
 1   building_id  int16
 2   meter        int8
 3   timestamp    object
dtypes: int16(1), int32(1), int8(1), object(1)
memory usage: 596.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139773 entries, 0 to 139772
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   site_id             139773 non-null  int8
 1   timestamp           139773 non-null  object
 2   air_temperature     139718 non-null  float16
 3   cloud_coverage      70600 non-null   float16
 4   dew_temperature     139660 non-null  float16
 5   precip_depth_1_hr   89484 non-null   float16
 6   sea_level_pressure  129155 non-null  float16
 7   wind_direction      133505 non-null  float16
 8   wind_speed          139469 non-null  float16
dtypes: float16(7), int8(1), object(1)
memory usage: 3.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277243 entries, 0 to 277242
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   site_id             277243 non-null  int8
 1   timestamp           277243 non-null  object
 2   air_temperature     277139 non-null  float16
 3   cloud_coverage      136795 non-null  float16
 4   dew_temperature     276916 non-null  float16
 5   precip_depth_1_hr   181655 non-null  float16
 6   sea_level_pressure  255978 non-null  float16
 7   wind_direction      264873 non-null  float16
 8   wind_speed          276783 non-null  float16
dtypes: float16(7), int8(1), object(1)
memory usage: 6.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1449 entries, 0 to 1448
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   site_id      1449 non-null   int8
 1   building_id  1449 non-null   int16
 2   primary_use  1449 non-null   object
 3   square_feet  1449 non-null   int32
 4   year_built   675 non-null    float16
 5   floor_count  355 non-null    float16
dtypes: float16(2), int16(1), int32(1), int8(1), object(1)
memory usage: 27.0+ KB
None None None None None

The 'timestamp' coloumns in 'train', 'test', 'weatherTrain', 'weatherTest' - as well as the column 'primary_use' in BuildMetData - are currently an onject type. Need to change those formats into something more usable.

In [89]:
train['timestamp'] = pd.to_datetime(train['timestamp'])
test['timestamp'] = pd.to_datetime(test['timestamp'])

weatherTrain['timestamp'] = pd.to_datetime(weatherTrain['timestamp'])
weatherTest['timestamp'] = pd.to_datetime(weatherTest['timestamp'])

In [90]:
print(train.info(), test.info(), weatherTrain.info(), weatherTest.info(), buildMetData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20216100 entries, 0 to 20216099
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   building_id    int16
 1   meter          int8
 2   timestamp      datetime64[ns]
 3   meter_reading  float32
dtypes: datetime64[ns](1), float32(1), int16(1), int8(1)
memory usage: 289.2 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41697600 entries, 0 to 41697599
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   row_id       int32
 1   building_id  int16
 2   meter        int8
 3   timestamp    datetime64[ns]
dtypes: datetime64[ns](1), int16(1), int32(1), int8(1)
memory usage: 596.5 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139773 entries, 0 to 139772
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   site_id             139773 non-null  int8
 1   timestamp           139773 non-null  datetime64[ns]
 2   air_temperature     139718 non-null  float16
 3   cloud_coverage      70600 non-null   float16
 4   dew_temperature     139660 non-null  float16
 5   precip_depth_1_hr   89484 non-null   float16
 6   sea_level_pressure  129155 non-null  float16
 7   wind_direction      133505 non-null  float16
 8   wind_speed          139469 non-null  float16
dtypes: datetime64[ns](1), float16(7), int8(1)
memory usage: 3.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277243 entries, 0 to 277242
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   site_id             277243 non-null  int8
 1   timestamp           277243 non-null  datetime64[ns]
 2   air_temperature     277139 non-null  float16
 3   cloud_coverage      136795 non-null  float16
 4   dew_temperature     276916 non-null  float16
 5   precip_depth_1_hr   181655 non-null  float16
 6   sea_level_pressure  255978 non-null  float16
 7   wind_direction      264873 non-null  float16
 8   wind_speed          276783 non-null  float16
dtypes: datetime64[ns](1), float16(7), int8(1)
memory usage: 6.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1449 entries, 0 to 1448
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   site_id      1449 non-null   int8
 1   building_id  1449 non-null   int16
 2   primary_use  1449 non-null   object
 3   square_feet  1449 non-null   int32
 4   year_built   675 non-null    float16
 5   floor_count  355 non-null    float16
dtypes: float16(2), int16(1), int32(1), int8(1), object(1)
memory usage: 27.0+ KB
None None None None None

Much better. Now, as the data is currently 'timestamp presents itself as a single moment in time. A single hour for every day. this can be broken into further cartegories: 'hour', 'day', 'weekday', & 'month'. This recategorizing could help us find trends in specific, months, days, or even hours for the data to find trends in.

In [91]:
train

          building_id  meter           timestamp  meter_reading
0                   0      0 2016-01-01 00:00:00       0.000000
1                   1      0 2016-01-01 00:00:00       0.000000
2                   2      0 2016-01-01 00:00:00       0.000000
3                   3      0 2016-01-01 00:00:00       0.000000
4                   4      0 2016-01-01 00:00:00       0.000000
...               ...    ...                 ...            ...
20216095         1444      0 2016-12-31 23:00:00       8.750000
20216096         1445      0 2016-12-31 23:00:00       4.825000
20216097         1446      0 2016-12-31 23:00:00       0.000000
20216098         1447      0 2016-12-31 23:00:00     159.574997
20216099         1448      0 2016-12-31 23:00:00       2.850000

[20216100 rows x 4 columns]

In [92]:
train["hour"] = train["timestamp"].dt.hour
train["day"] = train["timestamp"].dt.day
train["weekend"] = train["timestamp"].dt.weekday
train["month"] = train["timestamp"].dt.month

test["hour"] = test["timestamp"].dt.hour
test["day"] = test["timestamp"].dt.day
test["weekend"] = test["timestamp"].dt.weekday
test["month"] = test["timestamp"].dt.month

In [93]:
train

,building_id,meter,timestamp,meter_reading,hour,day,weekend,month
0,0,0,2016-01-01 00:00:00,0.000000,0,1,4,1
1,1,0,2016-01-01 00:00:00,0.000000,0,1,4,1
2,2,0,2016-01-01 00:00:00,0.000000,0,1,4,1
3,3,0,2016-01-01 00:00:00,0.000000,0,1,4,1
4,4,0,2016-01-01 00:00:00,0.000000,0,1,4,1
...,...,...,...,...,...,...,...,...
20216095,1444,0,2016-12-31 23:00:00,8.750000,23,31,5,12
20216096,1445,0,2016-12-31 23:00:00,4.825000,23,31,5,12
20216097,1446,0,2016-12-31 23:00:00,0.000000,23,31,5,12
20216098,1447,0,2016-12-31 23:00:00,159.574997,23,31,5,12
20216099,1448,0,2016-12-31 23:00:00,2.850000,23,31,5,12

In [94]:
#Merging Train, BuildMetData, weatherTrain
trainBuild = train.merge(buildMetData, on=['building_id'], how='left')
train = trainBuild.merge(weatherTrain, on=['site_id','timestamp'], how='left')

#Merging Test, BuildMetData, weatherTest
testBuild = test.merge(buildMetData, on=['building_id'], how='left')
test = testBuild.merge(weatherTest, on=['site_id','timestamp'], how='left')

# Featuring Engineering

There are a couple things that should be considered as me move forward.
- a lot of the data in this set is still left as null, inf, or empty. This can be delt with later but the biggest offender is floor_count
- This data was given pre train-test split
- Data is to big to merge train and test to create a train-test split via sklearn
- Some of the data needs to be label encoded because models don't like strings
- Timestamp is no longer needed since we have split it into deeper, separate columns

In [95]:
#Label encoding primary_use so that the model can run
le = LabelEncoder()

train['primary_use'] = le.fit_transform(train['primary_use']).astype(np.int8)
test['primary_use'] = le.fit_transform(test['primary_use']).astype(np.int8)

In [96]:
train

,building_id,meter,timestamp,meter_reading,hour,day,weekend,month,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,0,2016-01-01 00:00:00,0.000000,0,1,4,1,0,0,7432,2008.0,NaN,25.000000,6.0,20.000000,NaN,1019.5,0.0,0.000000
1,1,0,2016-01-01 00:00:00,0.000000,0,1,4,1,0,0,2720,2004.0,NaN,25.000000,6.0,20.000000,NaN,1019.5,0.0,0.000000
2,2,0,2016-01-01 00:00:00,0.000000,0,1,4,1,0,0,5376,1991.0,NaN,25.000000,6.0,20.000000,NaN,1019.5,0.0,0.000000
3,3,0,2016-01-01 00:00:00,0.000000,0,1,4,1,0,0,23685,2002.0,NaN,25.000000,6.0,20.000000,NaN,1019.5,0.0,0.000000
4,4,0,2016-01-01 00:00:00,0.000000,0,1,4,1,0,0,116607,1975.0,NaN,25.000000,6.0,20.000000,NaN,1019.5,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20216095,1444,0,2016-12-31 23:00:00,8.750000,23,31,5,12,15,1,19619,1914.0,NaN,1.700195,NaN,-5.601562,-1.0,1008.5,180.0,8.796875
20216096,1445,0,2016-12-31 23:00:00,4.825000,23,31,5,12,15,0,4298,NaN,NaN,1.700195,NaN,-5.601562,-1.0,1008.5,180.0,8.796875
20216097,1446,0,2016-12-31 23:00:00,0.000000,23,31,5,12,15,1,11265,1997.0,NaN,1.700195,NaN,-5.601562,-1.0,1008.5,180.0,8.796875
20216098,1447,0,2016-12-31 23:00:00,159.574997,23,31,5,12,15,4,29775,2001.0,NaN,1.700195,NaN,-5.601562,-1.0,1008.5,180.0,8.796875
20216099,1448,0,2016-12-31 23:00:00,2.850000,23,31,5,12,15,6,92271,2001.0,NaN,1.700195,NaN,-5.601562,-1.0,1008.5,180.0,8.796875

In [97]:
#We don't need time stamp anymore
train = train.drop("timestamp", axis = 1)
test = test.drop("timestamp", axis = 1)

In [98]:
train

,building_id,meter,meter_reading,hour,day,weekend,month,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,0,0.000000,0,1,4,1,0,0,7432,2008.0,NaN,25.000000,6.0,20.000000,NaN,1019.5,0.0,0.000000
1,1,0,0.000000,0,1,4,1,0,0,2720,2004.0,NaN,25.000000,6.0,20.000000,NaN,1019.5,0.0,0.000000
2,2,0,0.000000,0,1,4,1,0,0,5376,1991.0,NaN,25.000000,6.0,20.000000,NaN,1019.5,0.0,0.000000
3,3,0,0.000000,0,1,4,1,0,0,23685,2002.0,NaN,25.000000,6.0,20.000000,NaN,1019.5,0.0,0.000000
4,4,0,0.000000,0,1,4,1,0,0,116607,1975.0,NaN,25.000000,6.0,20.000000,NaN,1019.5,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20216095,1444,0,8.750000,23,31,5,12,15,1,19619,1914.0,NaN,1.700195,NaN,-5.601562,-1.0,1008.5,180.0,8.796875
20216096,1445,0,4.825000,23,31,5,12,15,0,4298,NaN,NaN,1.700195,NaN,-5.601562,-1.0,1008.5,180.0,8.796875
20216097,1446,0,0.000000,23,31,5,12,15,1,11265,1997.0,NaN,1.700195,NaN,-5.601562,-1.0,1008.5,180.0,8.796875
20216098,1447,0,159.574997,23,31,5,12,15,4,29775,2001.0,NaN,1.700195,NaN,-5.601562,-1.0,1008.5,180.0,8.796875
20216099,1448,0,2.850000,23,31,5,12,15,6,92271,2001.0,NaN,1.700195,NaN,-5.601562,-1.0,1008.5,180.0,8.796875

# Dealing With Cat,Num Features And Dropping Unnecessary Features

In [99]:
# creating a list if feat columns and drop columns for later indexing in train-test split
featCols = ['building_id', 'primary_use', 'hour', 'day', 'weekend', 'month', 'meter', 'square_feet', 'year_built', 'air_temperature', 'cloud_coverage', 'dew_temperature']

dropCols = ['precip_depth_1_hr', 'sea_level_pressure', 'wind_direction', 'wind_speed']

In [100]:
valTarget = np.log1p(train["meter_reading"])
del train["meter_reading"]

In [101]:
train = train.drop(dropCols + ["site_id", "floor_count"], axis = 1)
test = test.drop(dropCols + ["site_id", "floor_count","row_id"], axis = 1)

In [102]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20216100 entries, 0 to 20216099
Data columns (total 12 columns):
 #   Column           Dtype
---  ------           -----
 0   building_id      int16
 1   meter            int8
 2   hour             int64
 3   day              int64
 4   weekend          int64
 5   month            int64
 6   primary_use      int8
 7   square_feet      int32
 8   year_built       float16
 9   air_temperature  float16
 10  cloud_coverage   float16
 11  dew_temperature  float16
dtypes: float16(4), int16(1), int32(1), int64(4), int8(2)
memory usage: 1.1 GB

# Modelling

Using KFolds and cross validating with LightGBM. There's a protion of the script that is commented out. That's because the original coder only trained on the first 80% of the data and then validated on the last 20%. This was his way of keeping the script quicker and easier to manager.

For sure this is a valid way to go, and I urge anyone with a less computationally powerful computer uncomment lines 8 and 9 these ones at the top

    if i + 1 < num_folds:
        continue

My submission isn't going towards Kaggle where the hardware is limited and my computer runs stronger hardware (thanks mom and dad). This isn't just for show, the output is a bit more accurate. Though negligable, not a worthless amount.

*The scores go from an RMSE score of:* **0.488646(train)** & **0.685545(validate)**


*...to an RMSE score of:* **0.447411(train)** & **0.591119(validate)**


I kept the code in while I was tuning parameters for ease of running the script multiple times. Then, when I was happy with the result, I commented that part of the code out to run it all in the slower but more powerful version.

In [127]:
num_folds = 5
kf = KFold(n_splits = num_folds, shuffle = True, random_state = 42)
error = 0
models = []

for i, (train_index, val_index) in enumerate(kf.split(train)):
    #uncomment the bellow secton to run the data faster
    #if i + 1 < num_folds:
        #continue
    print(train_index.max(), val_index.min())
    
    #Splitting The DF Into Train Test Split
    xtrain = train[featCols].iloc[train_index]
    xTest = train[featCols].iloc[val_index]
    yTrain = valTarget.iloc[train_index]
    yTest = valTarget.iloc[val_index]
    
    #Training The Model
    lgb_train = lgb.Dataset(xTrain, yTrain > 0)
    lgb_eval = lgb.Dataset(xTest, yTest > 0)
    params = {
            'objective': 'binary',
            'boosting': 'gbdt',
            'learning_rate': 0.1,
            'metric': {'binary_logloss'},
            'feature_fraction': 0.8,
            'bagging_fraction': 0.8,
            'bagging_freq' : 5
            }
    gbm_class = lgb.train(params,
                lgb_train,
                num_boost_round=2000,
                valid_sets=(lgb_train, lgb_eval),
               early_stopping_rounds=20,
               verbose_eval = 20)
    
    #validating on the above data
    lgb_train = lgb.Dataset(xTrain[yTrain > 0], yTrain[yTrain > 0]) 
    lgb_eval = lgb.Dataset(xTest[yTest > 0] , yTest[yTest > 0])
    params = {
            'boosting': 'gbdt',
            'objective': 'regression',
            'metric': {'rmse'},
            'learning_rate': 0.5,
            'feature_fraction': 0.8,
            'bagging_fraction': 0.8,
            'bagging_freq' : 5
            }
    gbm_regress = lgb.train(params,
                lgb_train,
                num_boost_round=2000,
                valid_sets=(lgb_train, lgb_eval),
               early_stopping_rounds=20,
               verbose_eval = 20)
#     models.append(gbm)

    yPred = (gbm_class.predict(xTest, num_iteration=gbm_class.best_iteration) > .5) *\
    (gbm_regress.predict(xTest, num_iteration=gbm_regress.best_iteration))
    error += np.sqrt(mean_squared_error(yPred, (yTest)))/num_folds
    print(np.sqrt(mean_squared_error(yPred, (yTest))))
    break
print(error)

20216098 4
[LightGBM] [Warning] Unknown parameter: 2000
[LightGBM] [Warning] Unknown parameter: 2000
[LightGBM] [Info] Number of positive: 14674161, number of negative: 1498719
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.102995 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1171
[LightGBM] [Info] Number of data points in the train set: 16172880, number of used features: 12
[LightGBM] [Warning] Unknown parameter: 2000
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.907331 -> initscore=2.281477
[LightGBM] [Info] Start training from score 2.281477
Training until validation scores don't improve for 20 rounds
[20]	training's binary_logloss: 0.175663	valid_1's binary_logloss: 0.175722
[40]	training's binary_logloss: 0.155254	valid_1's binary_logloss: 0.155318
[60]	training's binary_logloss: 0.143971	valid_1's binary_logloss: 0.144039
[80]	training's binary_logloss: 0.136291	valid_1's binary_logloss: 0.136401
[100]	training's binary_logloss: 0.130267	valid_1's binary_logloss: 0.130382
[120]	training's binary_logloss: 0.125483	valid_1's binary_logloss: 0.125673
[140]	training's binary_logloss: 0.12189	valid_1's binary_logloss: 0.122113
[160]	training's binary_logloss: 0.118587	valid_1's binary_logloss: 0.118887
[180]	training's binary_logloss: 0.115233	valid_1's binary_logloss: 0.115549
[200]	training's binary_logloss: 0.112	valid_1's binary_logloss: 0.112325
[220]	training's binary_logloss: 0.109216	valid_1's binary_logloss: 0.109541
[240]	training's binary_logloss: 0.106708	valid_1's binary_logloss: 0.107099
[260]	training's binary_logloss: 0.104628	valid_1's binary_logloss: 0.105065
[280]	training's binary_logloss: 0.102759	valid_1's binary_logloss: 0.103195
[300]	training's binary_logloss: 0.100804	valid_1's binary_logloss: 0.101261
[320]	training's binary_logloss: 0.0990539	valid_1's binary_logloss: 0.0995246
[340]	training's binary_logloss: 0.0971554	valid_1's binary_logloss: 0.0976214
[360]	training's binary_logloss: 0.0954033	valid_1's binary_logloss: 0.095902
[380]	training's binary_logloss: 0.0940283	valid_1's binary_logloss: 0.0945117
[400]	training's binary_logloss: 0.0931016	valid_1's binary_logloss: 0.0937043
[420]	training's binary_logloss: 0.0913405	valid_1's binary_logloss: 0.0918981
[440]	training's binary_logloss: 0.0903784	valid_1's binary_logloss: 0.0909149
[460]	training's binary_logloss: 0.0889057	valid_1's binary_logloss: 0.0894709
[480]	training's binary_logloss: 0.0883969	valid_1's binary_logloss: 0.089027
[500]	training's binary_logloss: 0.0874648	valid_1's binary_logloss: 0.088085
[520]	training's binary_logloss: 0.0864621	valid_1's binary_logloss: 0.0871093
[540]	training's binary_logloss: 0.0856342	valid_1's binary_logloss: 0.0862834
[560]	training's binary_logloss: 0.0847063	valid_1's binary_logloss: 0.0853997
[580]	training's binary_logloss: 0.0839303	valid_1's binary_logloss: 0.0846333
[600]	training's binary_logloss: 0.0831012	valid_1's binary_logloss: 0.0838274
[620]	training's binary_logloss: 0.082165	valid_1's binary_logloss: 0.082892
[640]	training's binary_logloss: 0.0815093	valid_1's binary_logloss: 0.0822837
[660]	training's binary_logloss: 0.0809101	valid_1's binary_logloss: 0.0817041
[680]	training's binary_logloss: 0.0801266	valid_1's binary_logloss: 0.0809278
[700]	training's binary_logloss: 0.0794219	valid_1's binary_logloss: 0.080261
[720]	training's binary_logloss: 0.079058	valid_1's binary_logloss: 0.0798634
[740]	training's binary_logloss: 0.0783535	valid_1's binary_logloss: 0.0792192
Early stopping, best iteration is:
[737]	training's binary_logloss: 0.0783789	valid_1's binary_logloss: 0.0791662
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.096247 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1168
[LightGBM] [Info] Number of data points in the train set: 14674161, number of used features: 12
[LightGBM] [Info] Start training from score 4.569634
Training until validation scores don't improve for 20 rounds
[20]	training's rmse: 0.88325	valid_1's rmse: 0.883613
[40]	training's rmse: 0.787422	valid_1's rmse: 0.787583
[60]	training's rmse: 0.72475	valid_1's rmse: 0.725159
[80]	training's rmse: 0.672818	valid_1's rmse: 0.6732
[100]	training's rmse: 0.636791	valid_1's rmse: 0.637066
[120]	training's rmse: 0.615067	valid_1's rmse: 0.615434
[140]	training's rmse: 0.595244	valid_1's rmse: 0.595579
[160]	training's rmse: 0.577522	valid_1's rmse: 0.577956
[180]	training's rmse: 0.565538	valid_1's rmse: 0.565973
[200]	training's rmse: 0.554771	valid_1's rmse: 0.555297
[220]	training's rmse: 0.545821	valid_1's rmse: 0.546294
[240]	training's rmse: 0.53527	valid_1's rmse: 0.535823
[260]	training's rmse: 0.527334	valid_1's rmse: 0.528044
[280]	training's rmse: 0.520806	valid_1's rmse: 0.521586
[300]	training's rmse: 0.513232	valid_1's rmse: 0.514054
[320]	training's rmse: 0.506856	valid_1's rmse: 0.507624
[340]	training's rmse: 0.501659	valid_1's rmse: 0.502446
[360]	training's rmse: 0.496508	valid_1's rmse: 0.49744
[380]	training's rmse: 0.492151	valid_1's rmse: 0.493088
[400]	training's rmse: 0.486214	valid_1's rmse: 0.48722
[420]	training's rmse: 0.481829	valid_1's rmse: 0.482904
[440]	training's rmse: 0.478422	valid_1's rmse: 0.479561
[460]	training's rmse: 0.474533	valid_1's rmse: 0.475731
[480]	training's rmse: 0.471028	valid_1's rmse: 0.472243
[500]	training's rmse: 0.468297	valid_1's rmse: 0.469601
[520]	training's rmse: 0.465121	valid_1's rmse: 0.466516
[540]	training's rmse: 0.461337	valid_1's rmse: 0.462794
[560]	training's rmse: 0.45812	valid_1's rmse: 0.459595
[580]	training's rmse: 0.455321	valid_1's rmse: 0.45688
[600]	training's rmse: 0.452213	valid_1's rmse: 0.453868
[620]	training's rmse: 0.448882	valid_1's rmse: 0.450657
[640]	training's rmse: 0.446258	valid_1's rmse: 0.448022
[660]	training's rmse: 0.444099	valid_1's rmse: 0.44595
[680]	training's rmse: 0.442174	valid_1's rmse: 0.444071
[700]	training's rmse: 0.439943	valid_1's rmse: 0.441887
[720]	training's rmse: 0.437774	valid_1's rmse: 0.439733
[740]	training's rmse: 0.435852	valid_1's rmse: 0.43787
[760]	training's rmse: 0.43399	valid_1's rmse: 0.436112
[780]	training's rmse: 0.432149	valid_1's rmse: 0.434351
[800]	training's rmse: 0.430097	valid_1's rmse: 0.432424
[820]	training's rmse: 0.428411	valid_1's rmse: 0.430783
[840]	training's rmse: 0.426304	valid_1's rmse: 0.428735
[860]	training's rmse: 0.424622	valid_1's rmse: 0.427104
[880]	training's rmse: 0.422783	valid_1's rmse: 0.425376
[900]	training's rmse: 0.421286	valid_1's rmse: 0.423978
[920]	training's rmse: 0.419406	valid_1's rmse: 0.422194
[940]	training's rmse: 0.41772	valid_1's rmse: 0.420627
[960]	training's rmse: 0.415932	valid_1's rmse: 0.418964
[980]	training's rmse: 0.414543	valid_1's rmse: 0.417653
[1000]	training's rmse: 0.413375	valid_1's rmse: 0.416571
[1020]	training's rmse: 0.411915	valid_1's rmse: 0.415136
[1040]	training's rmse: 0.410861	valid_1's rmse: 0.414102
[1060]	training's rmse: 0.4093	valid_1's rmse: 0.412657
[1080]	training's rmse: 0.407984	valid_1's rmse: 0.4114
[1100]	training's rmse: 0.406383	valid_1's rmse: 0.409827
[1120]	training's rmse: 0.405271	valid_1's rmse: 0.408769
[1140]	training's rmse: 0.404295	valid_1's rmse: 0.40782
[1160]	training's rmse: 0.403239	valid_1's rmse: 0.406871
[1180]	training's rmse: 0.401881	valid_1's rmse: 0.405541
[1200]	training's rmse: 0.400682	valid_1's rmse: 0.404383
[1220]	training's rmse: 0.39955	valid_1's rmse: 0.403345
[1240]	training's rmse: 0.398169	valid_1's rmse: 0.402069
[1260]	training's rmse: 0.396934	valid_1's rmse: 0.400917
[1280]	training's rmse: 0.395861	valid_1's rmse: 0.399988
[1300]	training's rmse: 0.395154	valid_1's rmse: 0.399351
[1320]	training's rmse: 0.394274	valid_1's rmse: 0.398537
[1340]	training's rmse: 0.393272	valid_1's rmse: 0.397646
[1360]	training's rmse: 0.39223	valid_1's rmse: 0.396677
[1380]	training's rmse: 0.39144	valid_1's rmse: 0.395964
[1400]	training's rmse: 0.390539	valid_1's rmse: 0.395124

[1420]	training's rmse: 0.389612	valid_1's rmse: 0.394289
[1440]	training's rmse: 0.388831	valid_1's rmse: 0.393593
[1460]	training's rmse: 0.388172	valid_1's rmse: 0.392997
[1480]	training's rmse: 0.387362	valid_1's rmse: 0.392256
[1500]	training's rmse: 0.38624	valid_1's rmse: 0.391177
[1520]	training's rmse: 0.385453	valid_1's rmse: 0.390487
[1540]	training's rmse: 0.384619	valid_1's rmse: 0.389734
[1560]	training's rmse: 0.383948	valid_1's rmse: 0.389105
[1580]	training's rmse: 0.383184	valid_1's rmse: 0.388403
[1600]	training's rmse: 0.382439	valid_1's rmse: 0.387719
[1620]	training's rmse: 0.381761	valid_1's rmse: 0.38712
[1640]	training's rmse: 0.380831	valid_1's rmse: 0.386301
[1660]	training's rmse: 0.380093	valid_1's rmse: 0.385629
[1680]	training's rmse: 0.379359	valid_1's rmse: 0.385009
[1700]	training's rmse: 0.378589	valid_1's rmse: 0.384244
[1720]	training's rmse: 0.377774	valid_1's rmse: 0.383508
[1740]	training's rmse: 0.377135	valid_1's rmse: 0.382941
[1760]	training's rmse: 0.376537	valid_1's rmse: 0.382451
[1780]	training's rmse: 0.375853	valid_1's rmse: 0.381808
[1800]	training's rmse: 0.375076	valid_1's rmse: 0.381074
[1820]	training's rmse: 0.374541	valid_1's rmse: 0.380621
[1840]	training's rmse: 0.373949	valid_1's rmse: 0.380126
[1860]	training's rmse: 0.37344	valid_1's rmse: 0.379646
[1880]	training's rmse: 0.372702	valid_1's rmse: 0.378933
[1900]	training's rmse: 0.372127	valid_1's rmse: 0.378489
[1920]	training's rmse: 0.37155	valid_1's rmse: 0.377993
[1940]	training's rmse: 0.370827	valid_1's rmse: 0.377326
[1960]	training's rmse: 0.370107	valid_1's rmse: 0.376711
[1980]	training's rmse: 0.369372	valid_1's rmse: 0.376023
[2000]	training's rmse: 0.368619	valid_1's rmse: 0.375332
Did not meet early stopping. Best iteration is:
[2000]	training's rmse: 0.368619	valid_1's rmse: 0.375332
0.7821017880618069
0.15642035761236137

In [104]:
sorted(zip(gbm_regress.feature_importance(), gbm_regress.feature_name()),reverse = True)

[(2404, 'building_id'),
 (2157, 'square_feet'),
 (1057, 'meter'),
 (851, 'year_built'),
 (790, 'primary_use'),
 (698, 'month'),
 (668, 'hour'),
 (545, 'air_temperature'),
 (323, 'dew_temperature'),
 (195, 'weekend'),
 (150, 'day'),
 (32, 'cloud_coverage')]

In [105]:
from tqdm import tqdm
i=0
res=[]
step_size = 50000
for j in tqdm(range(int(np.ceil(test.shape[0]/50000)))):
    
    res.append(np.expm1
                ((gbm_class.predict
                (test.iloc[i:i+step_size], num_iteration=gbm_class.best_iteration) > .5) *\
                (gbm_regress.predict(test.iloc[i:i+step_size], num_iteration=gbm_regress.best_iteration))))
    i+=step_size

100%|██████████| 834/834 [02:06<00:00,  6.57it/s]

In [106]:
res = np.concatenate(res)
pd.DataFrame(res).describe()

                  0
count  4.169760e+07
mean   3.127130e+02
std    1.971325e+03
min   -8.630281e-01
25%    1.711868e+01
50%    7.833743e+01
75%    2.534396e+02
max    2.501862e+05

In [107]:
print(res)

[  0.           0.           0.         ...   7.74453153 139.13351683
  20.30705139]

In [108]:
sub = pd.read_csv("energyCSV/sample_submission.csv")

In [109]:
sub["meter_reading"] = res

In [110]:
res

array([  0.        ,   0.        ,   0.        , ...,   7.74453153,
       139.13351683,  20.30705139])

In [111]:
sub

            row_id  meter_reading
0                0       0.000000
1                1       0.000000
2                2       0.000000
3                3       0.000000
4                4       0.000000
...            ...            ...
41697595  41697595      19.091084
41697596  41697596       3.053052
41697597  41697597       7.744532
41697598  41697598     139.133517
41697599  41697599      20.307051

[41697600 rows x 2 columns]

In [112]:
sub['meter_reading'].sum()

13039380415.315474

In [113]:
train

,building_id,meter,hour,day,weekend,month,primary_use,square_feet,year_built,air_temperature,cloud_coverage,dew_temperature
0,0,0,0,1,4,1,0,7432,2008.0,25.000000,6.0,20.000000
1,1,0,0,1,4,1,0,2720,2004.0,25.000000,6.0,20.000000
2,2,0,0,1,4,1,0,5376,1991.0,25.000000,6.0,20.000000
3,3,0,0,1,4,1,0,23685,2002.0,25.000000,6.0,20.000000
4,4,0,0,1,4,1,0,116607,1975.0,25.000000,6.0,20.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
20216095,1444,0,23,31,5,12,1,19619,1914.0,1.700195,NaN,-5.601562
20216096,1445,0,23,31,5,12,0,4298,NaN,1.700195,NaN,-5.601562
20216097,1446,0,23,31,5,12,1,11265,1997.0,1.700195,NaN,-5.601562
20216098,1447,0,23,31,5,12,4,29775,2001.0,1.700195,NaN,-5.601562
20216099,1448,0,23,31,5,12,6,92271,2001.0,1.700195,NaN,-5.601562

In [114]:
valTarget.sum()

83811130.0